= simple_form_for(@menu, validate: true, html: {multipart: true}) do |f|
  .inputs
    = f.input :name
    = image_tag @menu.image.url(:thumbnail)
    = f.file_field :image
    = f.input :category
    = f.input :price
    = f.input :dish_type
    = f.input :is_vegetarian

  .actions
    = f.button :submit, disable_with: 'Saving...'
