= simple_form_for(@menu, validate: true, html: {multipart: true}) do |f|
  .inputs
    = f.input :name
    = image_tag @menu.image.url(:thumbnail)
    = f.file_field :image
    = f.input :category, collection: Menu::CATEGORIES.map { |category| category}, default: Menu::CATEGORIES.first
    = f.input :price
    = f.input :dish_type, as: :select, collection: Menu::DISH_TYPES.map { |dish_type| dish_type}, default: Menu::DISH_TYPES.first
    = f.input :is_vegetarian

  .actions
    = f.button :submit, disable_with: 'Saving...'
