%p
  %b Name:
  = @menu.name
%p
  = image_tag @menu.image.url(:large)
%p
  %b Category:
  = @menu.category
%p
  %b Price:
  = @menu.price
%p
  %b Dish type:
  = @menu.dish_type
%p
  %b Is vegetarian:
  = @menu.is_vegetarian

= link_to 'Edit', edit_menu_path(@menu)
\|
= link_to 'Back', menus_path
