%h2 Sign in
= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .inputs
    = f.input :email, required: true, autofocus: true
    = f.input :password, required: true
    = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
  .actions
    = f.button :submit, 'Sign in', disable_with: 'Signing in...'
= render 'links'
