%li.span3
  .thumbnail
    .menu_name
      .menu_name_separator
      .menu_name_text.title
        = menu.name
    .menu_img
      = image_tag(menu.image)
    .menu_favorites
      = image_tag('heart.png')
      %span.num_of_favorites{class: "#{menu.id}"}
        = menu.favorites.count
      people like it

      = link_to 'Me too', menu_favorites_path(menu), method: :post, remote: true, class: 'btn btn-inverse',
                                                     id: "add_favorite_btn_#{menu.id}"


