#myCarousel.carousel.slide
  .carousel-inner
    .item.active
      %img{:alt => "", :src => "/assets/gallery_1.png"}
    .item
      %img{:alt => "", :src => "/assets/gallery_2.png"}
  %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel"} ‹
  %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel"} ›
.row.mt20
  .span3
    = image_tag('newsletter_tag.png', id: 'newsletter_tag')
    = simple_form_for(@follower, url: subscribe_followers_path, html: {class: 'form-vertical'}) do |f|
      .inputs
        = f.input :name
        = f.input :email

      .actions
        = f.button :submit, 'Subscribe', disable_with: 'Subscribing...', class: 'btn btn-inverse'
  .span5
    %ul.posts
      = render partial: 'home/post', collection: @posts

  .span4
    .right
      = image_tag('flag.png', id: 'flag')
    = image_tag('pot.png', id: 'pot')
