- content_for :title, 'Home'
#myCarousel.carousel.slide
  .carousel-inner
    .item.active
      .gallery_1
    .item
      .gallery_2
  %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel"} ‹
  %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel"} ›
.row.mt20
  .span3
    .newsletter_tag
    = simple_form_for(@follower, url: subscribe_followers_path, html: {class: 'form-vertical'}, remote: true) do |f|
      .inputs
        = f.input :name
        = f.input :email

      .actions
        = f.button :submit, 'Subscribe', disable_with: 'Subscribing...', class: 'btn btn-inverse'
  .span5
    %ul.posts
      = render partial: 'home/post', collection: @posts

  .span4.overflow-auto
    .flag
    .pot
