= link_to image_tag('gallery_1.png', id: 'gallery')
.row.mt20
  .span3
    = image_tag('newsletter_tag.png', id: 'newsletter_tag')
    = simple_form_for(@follower, url: subscribe_followers_path, html: {class: 'form-vertical'}) do |f|
      .inputs
        = f.input :name
        = f.input :email

      .actions
        = f.button :submit, 'Subscribe', disable_with: 'Subscribing...', class: 'btn btn-inverse'
  .span5
    %ul
      = render partial: 'home/post', collection: @posts

  .span4
    .right
      = image_tag('flag.png', id: 'flag')
    = image_tag('pot.png', id: 'pot')
