%h3.accent #{company_name} Newsletter - subscribe to receive our latest news
= simple_form_for(@follower, url: subscribe_followers_path) do |f|
  = f.error_notification

  .inputs
    = f.input :name
    = f.input :email

  .actions
    = f.button :submit, 'Subscribe', disable_with: 'Subscribing...'