- content_for :title, 'Our Menu'
= link_to 'Download PDF Menu','/assets/royal_chinese_menu.pdf', class: 'download_menu_btn btn', method: :get, target: :blank

.page-header
  %h1 Our menu
%div{"data-pjax-container" => ""}
  .tabbable.tabs-left
    %ul.nav.nav-tabs
      - Menu::DISH_TYPES.each do |dish_type|
        %li{ class: "#{dish_type == @dish_type ? 'active' : ''}"}
          = link_to dish_type, our_menu_path(dish_type: dish_type), html: {'data-toggle' => 'tab'}
    .tab-content
      .tab-pane.active
        %ul.thumbnails
          = render partial: 'home/menu', collection: @menus
        = will_paginate @menus

