%p Hi #{@follower.name}
%p
%p Thank you for subscribing newsletters from #{@company_full_name}.
%p Congratulations! Now you can received the first hand information from us about our latest promotion.
%p Remember, you can always visit our website #{link_to root_url, root_url} to learn more about us.
%p What is more important? Come to us and enjoy the good meal our chief prepare for you!
%br
%p
  = render 'share/unsubscribe'

%p
  = render 'share/company_signature'