- content_for :title, 'Post Details'

.page-header
  %h1 Post Details
.row
  .span5
    %p
      %strong.title Title:
      = @post.title
    %p
      %strong.title Content:
      .well
        = simple_format(@post.content)
    %p
      %b Is valid:
      = @post.is_valid

    = link_to 'Edit', edit_post_path(@post)
    \|
    = link_to 'Back', posts_path
    \|
    = link_to 'New Post', new_post_path

    %p
      = simple_form_for @post, url: broadcast_post_path(@post) do  |f|
        .actions
          = f.button :submit, 'Broadcast', disable_with: 'Sending...'
