.container
  .row.mt10
    .span5
      %p.logo
        = image_tag("logo_small.png")
      %p.accent
        COPYRIGHT © 2012 #{company_name} ALL RIGHTS RESERVED
    .span7
      .pull-right
        %p.cap
          #{link_to "Home", root_path} |  #{link_to "Our Menu", our_menu_path} | #{link_to "About Us", about_us_path}
          | #{link_to "Contact Us", contact_us_path}
        %p We open 7 days at dinner, TEL: (02) 4226 9853
        %p 35 Flinders St., Wollongong, NSW 2500