%html
  %head
    %title
      #{company_full_name} | #{h yield(:title)}
    = yield :head
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %link{rel: "stylesheet", type: "text/css", href: "http://fonts.googleapis.com/css?family=Lato" }
  %body
    .header
      = render partial: 'layouts/header'
    .main#main
      .container
        = yield
      #main_footer
    .footer#footer
      = render partial: 'layouts/footer'
    = yield :scripts
