%html
%head
  %title
    = @title
  = stylesheet_link_tag    "application"
  = javascript_include_tag "application"
  = csrf_meta_tags
%body
  .container
    .navbar
      .navbar-inner
        .container
          %ul.nav
            %li.active
              = link_to "Home", root_path
            %li
              = link_to "Our Menu"
            %li
              = link_to "About Us"
            %li
              = link_to "Contact Us"

    = yield
