%html
%head
  %title
    Royal Chinese Restaurant | #{@title}
  = yield :head
  = stylesheet_link_tag    "application"
  = javascript_include_tag "application"
  = csrf_meta_tags
%body
  .header
    = render partial: 'layouts/header'
  .main.container
    = yield
  .footer
    = yield :scripts
